<!DOCTYPE html>
<html>
<head>
  <title>TasteSpottingClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link
    href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" 
    rel="stylesheet">
</head>
<body>
  <div>
    <div class="container">
      <div class="four columns sidebar">
        <% if !current_user.nil? %>
        <p>
            <%= current_user.username %>
            <%= link_to('Logout', session_url, :method => :delete) %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="four columns sidebar">

      </div>
      <div class="sixteen columns offset-by-one content">

      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="three columns sidebar">
        <h2>Tasty Bite</h2>
        <hr>
        <ul>
        <% if !current_user.nil? %>
          <strong>
          <li><%= link_to("Post Index", "#/") %></li>
          <li><%= link_to("Users", "#users") %></li>
          <li><%= link_to("New Post", "#posts/new") %></li>
          </strong>
        <% else %>
          <strong>
          <li><%= link_to("Post Index", root_url) %></li>
          <li><%= link_to("Sign up", new_user_url)%></li>
          <li><%= link_to("Log in", new_session_url)%></li>
          </strong>
        <% end %>
        <br>
        <hr>
        <li><h4>Categories:</h4></li>

        <% Category.all.each do |category| %></li>
          <strong>
          <li>
            <%= link_to("#{category.name}","#category/#{category.id}" )%>
          </li>
          </strong>
        <% end %>
        </ul>
      </div>
      <div class="sixteen columns offset-by-one content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
