<!DOCTYPE html>
<html>
<head>
  <title>TasteSpottingClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Tasty Bit</h1>

  <% if !current_user.nil? %>
    <ul>
      <li>Logged in as: <%= current_user.username %></li>
      <li><%= button_to "Logout", session_url, :method => :delete %></li>
    </ul>
    
    <div class="navigation">
      <%= link_to("Post Index", "#/") %> |
      <%= link_to("Users", "#users") %> |
      <%= link_to("New Post", "#posts/new") %>
    </div>
    <div class="navigation">
      Categories:
      <% Category.all.each do |category| %>
        <%= link_to("#{category.name}","#category/#{category.id}" ) %> |
      <% end %>
    </div>
    <div>
      Popular:
    </div>
  <% else %>
    <div class="navigation">
      <%= link_to("Post Index", root_url) %> |
      <%= link_to("Sign up", new_user_url)%> |
      <%= link_to("Log in", new_session_url)%>      
    </div>
  <% end %>


<%= yield %>

</body>
</html>
